body {
  background-color: white;
  color:#EBEBEB;
  margin:0 auto;
  font-family: "HelveticaNeue-Light";
}
.loading{
  position:absolute;
  background-color:#f2f2f2;
  width:100%;
  height:100%;
  z-index: 1;
}
.hidden{
  visibility: hidden;
}
.circle_Loader{
  width: 20px;
  height: 20px;
  margin: auto;
  margin-top: 65%;
}
.nav {
  background-color:#2F2F2F;
  width:100%;
  height:62px;
  opacity: 0.5;
  user-select: none;
}
.nav > img{
  width:46px;
  height:33px;
  margin-top:13px;
  float:right;
}
.nav > p {
  color:#E8E8E8;
  font-size: 25px;
  margin-top:15px;
  margin-left:15px;
  float: left;
  cursor: pointer;
  transform: rotate(90deg);
}
.nav > p:hover {
  color: #151515;
}
.texture{
  position: absolute;
  width:100%;
  height:600px;
  margin-top:-62px;
  left:0px;
  z-index: -1;
  opacity: 0.71;
}
.texture_Background{
  background-color:#00356A;
  position: absolute;
  width:100%;
  height:600px;
  margin-top:-62px;
  left:0px;
  z-index: -2;
}
.personal_details{
  justify-content: center;
  position: absolute;
  display: flex;
  width:95%;
  margin-top: 20px;
  margin-left: 8px;
}
.personal_details>div>p:nth-child(1){
  margin-top: 0px;
  font-size: 25px;
}
.personal_details>div>p:nth-child(2){
  margin-top: -25px;
  margin-left:5px;
  font-size: 14px;
  font-family: "HelveticaNeue-Italic";
}
.personal_details>div>p:nth-child(4){
  margin-top: 3px;
  margin-left:5px;
  font-size: 15px;
  font-family: "HelveticaNeue-Italic";
}
.personal_details>div>p:nth-child(5){
  margin-top: -13px;
  margin-left:5px;
  font-size: 15px;
  font-family: "HelveticaNeue-Italic";
}
.personal_details>img{
  position: relative;
  width:130px;
  height:130px;
  margin-left:10px;
  border-radius: 50%;
}
.personal_details>div>div{
  margin-top: -6px;
  margin-left:5px;
  margin-top: -9px;
}
.personal_details>div>div>a>img{
  width:25px;
  height:25px;
  margin-right:15px;
  cursor: pointer;
  user-select: none;
}
.personal_details>div>div>a:nth-child(2)>img{
  border-radius: 50%;
}

.texture>img{
  width:100%;
  height:600px;
}
.detail{
  position: absolute;
  background-color: #151515;
  width: 100%;
  height: 216px;
  margin-top: 235px;
  -webkit-transform: skewY(11deg);
  -moz-transform: skewY(11deg);
  -ms-transform: skewY(11deg);
  -o-transform: skewY(11deg);
  transform: skewY(11deg);
}
.wrapper{
  -webkit-transform: skewY(-11deg);
  -moz-transform: skewY(-11deg);
  -ms-transform: skewY(-11deg);
  -o-transform: skewY(-11deg);
  transform: skewY(-11deg);
}
.des1{
  width: 109px;
  height: 55px;
}
.ASE{
  width: 101px;
  height: 101px;
}
.wrapper > p{
  color:#DDDDDD;
  width:85%;
}
.style{
  position: absolute;
  background-color: #000000;
  width:100%;
  height:20px;
  margin-top:525px;
  opacity: 0.2;
  -webkit-transform: skewY(11deg);
  -moz-transform: skewY(11deg);
  -ms-transform: skewY(11deg);
  -o-transform: skewY(11deg);
  transform: skewY(11deg);
}
.leather_Detail{
  position: absolute;
  background-color: #272727;
  width:100%;
  height:100%;
  z-index: -2;
}
.leather{
  background-color: black;
  position: absolute;
  width:100%;
  height:300px;
  margin-top:417px;
  left: 0px;
  z-index: -1;
}
.leather>img{
  position: absolute;
  width:100%;
  height:100%;
  opacity: 0.53;
  z-index: -1;
}
.leather>div:nth-child(3){
  text-align: center;
  padding-top: 250px;
}
.leather>div>img:nth-child(1) {
  margin-right: 13px;
  width:35px;
  height:32px;
}
.leather>div>img:nth-child(2){
  margin-right: 30px;
  width:35px;
  height:35px;
}
.leather>div>img:nth-child(3){
  width: 140px;
  height: 35px;
}
